.newsletter__boton {
    input {
        border: none;
        height: 25px;
    }
    
    button {
        border: none;
        height: 25px;
        background-color: $fondo-secundario;
        color: #fff;
        &:hover {
            background-color: $hover-boton;
        }
    }
}

.nav__menu-input {
    width: 90px!important;
    input {
    border-radius: 30px;
    background-color: $fondo-principal;
    width: 80px;
    }    
}

@media (min-width: 768px) {
    .nav__menu-input {
       width: 60%;
    }
}