aside {
    padding: 0 1.5rem;    

    .aside__tags {
        ul {
            display: flex;
            justify-content: space-around;
            padding-left: 0!important;
            li {
                list-style: none;
                background-color: $fondo-secundario;
                color: #fff;
                padding: 0.25rem;
                //tipografia
                font-size: 0.75rem;
                font-weight: 400;
            }
        }      
    }
    .aside__destacados {
        margin-bottom: 50px;
        img {
            width: 100%;
        }
    }
}